body {
 font-family: helvetica, sans-serif;
 background-color: #ffffff;
 color: #000000;
}

h1 {font-size: 32px; text-align: center; }
h2 {font-size: 24px; text-align: center; }
h3 {font-size: 18px; text-align: center; }
h4 {font-size: 16px; text-align: center; }
h5 {font-size: 13px; text-align: center; }
h6 {font-size: 10px; text-align: center; }

table {font-size: 15px; }
td {vertical-align: top; }
ul {list-style-type: disc; }
li {text-align: justify; margin-bottom: 13px; }
ul li {margin-bottom: 5px; }
pre {font-size: 10px; font-family: monaco, courier, monospace; }
p {text-align: justify; }

p.totals {font-size: 10px; } /* Note & tag quantities */
div.noteBlock {margin-bottom: 3ex; }
p.editDel {font-size: 10px; } /* 'Edit' and 'Delete' links */
p.timestamp {font-size: 10px; } /* 'Created' and 'Edited' listings */
.tagList {font-size: 10px; }

/* These may be useful later:
fieldset {padding: 5px; }
hr {width: 450px; height: 2px; text-align: center; }
*/

a:link {color: #0000ff; text-decoration: underline; }
a:hover {color: #ffff00; text-decoration: underline; }
a:active {color: #ffff00; text-decoration: none; }
a:visited {color: #ff0000; text-decoration: underline; }
